* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('Untitled\ design\ \(4\).png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro';
}

header {
    display: flex;
    background-color: rgb(20, 24, 36);
    justify-content: space-between;
}

#logo img {
    height: 7vh;
    width: 10vw;
}

#search {
    margin: 0.8em 0em 0.5em 0em;
}

    #search input {
        width: 60vw;
        height: 4vh;
        padding-left: 1em;
        background-color: rgb(20, 24, 36);
        border: none;
        border-bottom: 1px solid grey;
        font-size: 1rem;
    }

@media (max-width: 768px) {
    #search input {
        width: 40vw;
    }
}

section {
    width: 100%;
    height: 100%;
}

#scontainer {
    /* background-color:rgb(20, 24, 36); */
    margin-left: 0em;
    display: flex;
}

#sidebar {
    margin-top: 0.5em;
    background-color: rgb(20, 24, 36);
    width: 18vw;
}

#sidebar {
    margin-top: 0.5em;
    background-color: rgb(20, 24, 36);
    width: 18vw;
}

.navlinks ul {
    list-style: none;
    position: fixed;
}

    .navlinks ul .list {
        margin: 1.5em 0em;
    }

        .navlinks ul .list:hover {
            margin: 1em 0em;
            background-color: rgb(113, 163, 249);
            width: 9vw;
            padding: 0.4em 0.1em;
            border-radius: 10px;
            color: white;
            font-family: 'Source Sans Pro';
        }

        .navlinks ul .list a {
            text-decoration: none;
            font: 1.2rem bold;
            font-family: 'Source Sans Pro';
            color: grey;
            padding-left: 0em;
        }

            .navlinks ul .list a:hover {
                color: white;
            }

.activepage {
    margin: 1em 0em;
    background-color: rgb(113, 163, 249);
    width: 9vw;
    padding: 0.4em 0.1em;
    border-radius: 10px;
}

    .activepage a {
        color: white;
        text-decoration: none;
        font-family: 'Source Sans Pro';
        font-size: 1.2rem;
    }

.thide {
    display: none;
}

#thide {
    display: none;
}

#menu {
    display: none;
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
    }

    #navlinks ul {
        display: flex;
        flex-direction: column;
        position: relative;
    }

        #navlinks ul .list {
            margin: 1em 0em;
        }

            #navlinks ul .list:hover {
                width: auto;
                border-radius: 0;
                padding: 0;
            }

    #contacts {
        display: none;
    }

    .thide {
        display: block;
    }

    #thide {
        display: block;
    }

    #menu {
        display: block;
    }

    #sidebar {
        display: none;
    }
}

#feedcontentnav {
    margin-top: 0.5em;
    background-color: rgb(20, 24, 36);
    width: 72vw;
    margin-left: 0.5em;
}

#homepagelinks {
    margin: 1em 0em;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

    #homepagelinks div {
        margin-bottom: 1em;
    }

        #homepagelinks div a {
            text-decoration: none;
            font: 1.2rem bold;
            font-family: 'Source Sans Pro';
            color: grey;
        }

            #homepagelinks div a:active {
                color: blue;
            }

            #homepagelinks div a:hover {
                color: white;
                border-bottom: 5px solid blue;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

.notification {
    color: white;
    padding: 1em;
    font-family: 'Source Sans Pro';
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.1rem;
    border-bottom: 1px solid gray;
}

    .notification:hover {
        color: white;
        padding: 1em;
        font-family: 'Source Sans Pro';
        margin-left: 1em;
        margin-right: 1em;
        font-size: 1.1rem;
        border-bottom: 1px solid gray;
        background-color: rgba(155, 155, 155, 0.116);
    }

@media screen and (max-width: 768px) {
    #feedcontentnav {
        width: 100%;
        margin-right: 0.5em;
    }
}

#contacts {
    margin-top: 0.5em;
    margin-left: 0.5em;
    background-color: rgb(20, 24, 36);
    width: 20.8vw;
}

    #contacts h3 {
        color: rgb(239, 239, 239);
        margin: 0.5em;
    }

.tags a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.tags p {
    color: grey;
}

.imageforfeed {
    margin: auto;
    text-align: center;
}

#trends {
    margin: auto;
    width: 50%;
}

#feedtrends {
    margin-top: 2em;
    margin-left: 2em;
    background-color: rgb(20, 24, 36);
}

    #feedtrends h3 {
        color: rgb(239, 239, 239);
        margin: 0.5em;
    }

#hashtags {
    margin: 2em;
}
